:root {
    --dark-blue: #2C3E50;
    --blue: #3A546D;
    --green: #1ABC9C;
    --white: #FFFFFF;
    --text: #333333;
}

img {
    max-width: 100%;
}



.page-header {
    background-color: var(--dark-blue);
    color: var(--white)
}


.hero {
    background-color: var(--green);
    color: var(--white);
}

.hero img {
    max-width: 230px;
}

.section-title {
    font-size: 36px;
    font-weight: 600;
}

.star {
    position: relative;
    margin: 0 auto;
    width: min-content;
    font-size: 30px;
    padding-inline: 10px;
}

.star::before,
.star::after {
    display: block;
    position: absolute;
    content: "";
    width: 75px;
    height: 4px;
    right: 100%;
    top: 50%;
    background-color: var(--white);
    border-radius: 100px;
    transform: translateY(-50%);
}

.star::after {
    left: 100%;
}

.star.black::before,
.star.black::after {
    background-color: black;
}

.section-subtitle {
    font-size: 20px;
}

.portfolio-card {
    border-radius: 10px;
    overflow: hidden;
}

.portfolio .section-title {
    font-size: 24px;
}

.about {
    background-color: var(--green);
    color: var(--white);
}

button {
    border: 1px solid var(--white);
    outline: none;
    background-color: transparent;
    color: var(--white);
    border-radius: 5px;
    line-height: 45px;
    padding: 0 18px;

}


@media (min-width: 768px) {
    .section-title {
        font-size: 60px;
    }

    .section-subtitle {
        font-size: 26px;
    }

    .star::before,
    .star::after {
        width: 140px;
    }

    .portfolio .section-title,
    .about .section-title {
        font-size: 50px;
    }
}